*{
    margin: 0px;
}


body{
    background-color: whitesmoke;
}

.navbar{
    width: 100%;
    height: 45px;
    background-color:black;
    position:relative ;
    text-align: center;
    color: aliceblue;
}
h4{padding: 9px;
}

.parent{
    width: 100%;
    height: 60px;
    background-color:purple;
    position: sticky;
    top: 0px;
}

.child {
    position: absolute;
    left:2px ;
}

.parent .child a{

   color: whitesmoke;
   font-size: 20px;
   text-decoration: none;
   padding: 16px 15px;
   display: inline-block;
   text-align: center;
   /* float: left; */
}

.btnn{
    position: absolute;
    right: 2px;
}

.fomm{
    display:inline-block;
    /* float: left; */
}

 .btnn button{
    padding: 7px;
    background-color: purple ;
    color: yellow;
    border: 1px solid yellow;
    border-radius: 0.1cm;
    width: 150px;
    margin: 15px;

}

h5{
    color: whitesmoke;
    float: left;
    margin-right:30px;
    margin-top: 22px;
    
}
